<html>
	<head>
		<link rel="stylesheet" type="text/css" href="./vendor/bower/bootstrap/dist/css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="./scripts/font-awesome.css">
		<script src="./vendor/handlebars.js" type="text/javascript"></script>
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="icon" 
	      type="image/png" 
	      href="./t-shirt.png">
	      <link rel="stylesheet" type="text/css" href="./scripts/app.css"></link>
	      <title>ClickShirt</title>
	      <script src="https://checkout.stripe.com/checkout.js"></script>
	</head>
	<body>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=253035684884770&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="app"><div class="navbar">
			<h2 style="text-align:center;">Loading the Awesome.<br><br><i class="fa fa-refresh fa-spin"></i></h2>
		</div></div>
	</body>

	<div id="templates" style="display:none">
		<div id="Thumbnail">
		</div>
		<div id="ImageContainer">
			<div class="row" data-bind="collection:$collection"></div>
		</div>
		<div id="PillList">
			<div class="nav nav-pills" data-bind="collection:$collection"></div>
		</div>
		<div id="Pill">
			<a value="{{model.value}}">{{model.label}}</a>
		</div>
		<div id="ProductModelView">
			<div class="tile cube">
				<div class="thumbnail flippety">
					<img src={{product.image.url}}>
					<small>{{product.name}}</small>
					<i class="pull-right text-success fa fa-check-circle">&nbspIn Stock.</i>
				</div>
				<div class="panel panel-default flop">
					<div class="panel-heading clearfix">
						<h4 class="panel-title">
							{{product.name}}
						</h4>
					</div>
					<div class="panel-body">
						<dl>
							{{#if product.colors}}
							<dt><label>Pick Your Color:</label></dt>
							<dd>
								{{#each product.colors}}
								<i class="fa fa-3x fa-circle" data-color="{{@index}}" style="color:{{this.hex}}"></i>
								{{/each}}
							</dd>
							{{else}}
							<dt><label>Sorry, this item is unavailable.</label></dt>
							{{/if}}<br>
							<dt><label>Comments:</label></dt>
							<dd>{{product.comments}}</dd><br>
							<dt><label>Description:</label></dt>
							<dd>{{product.description}}</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div id="SelectedProductView">
			<div class="panel-body">
				<!--<div class="row">
				{{#each product.selectedColor.images}}
					<div class="col-xs-3">
						<img style="width:100%" src="{{this.url}}">
					</div>
				{{/each}}
				</div>-->
				<div class="row">
					<div class="col-md-6">
						<div class="img-preview">
						</div>
					</div>
					<div class="col-md-6">
						<dl>
							{{#if product.colors}}
							<dt><label>Change your Color:</label></dt>
							<dd>
								{{#each product.colors}}
									<i class="fa fa-2x fa-circle" data-color="{{@index}}" style="color:{{this.hex}}"></i>
								{{/each}}
							</dd>
							{{/if}}
							<dt><div class="row"><div class="col-md-6"><label>Size:</label></div><div class="col-md-6"><label >Qty:</label></div></div></dt>
							<dd><div class="row"><div class="col-md-6"><select class="size-select form-control"></select></div><div class="col-md-6"><select class="col-offset-md-6 qty-select form-control"></select></div></div></dd>
							<dt>
							<label>Artwork:</label></dt>
							<dd><div class="artwork artwork-url"><input type="text" placeholder="URL" class="form-control"></div></dd>
							<div class="address-form"></div>
						</dl>
					</div>
				</div>
			</div>
		</div>
		<div id="CanvasEditor">
			<div class="fabric-filters clearfix">
			<div class="pull-right"><input type="checkbox" checked="true" class="rmWhite"><small> Remove White</small></div></div>
			<canvas id="cseditor"></canvas>
		</div>
		<div id="ArtworkLanding">
			<div class="windowfill">
				<div class="stuff">
					<h2>Paste Your Artwork.</h2>
					<input type="text" class="form-control" placeholder="URL...">
				</div>
			</div>
		</div>
		<div id="App">
			<div class="artwork-landing"></div>
			<div class="page2">
				<div class="top-half">
					<div class="container">
						<h1><img src="http://storage.googleapis.com/click_shirt/assets/ClickShirtLogo_128_sq.png">ClickShirt</h1>
						<!--<ul class="nav nav-pills" role="tablist">
							<li class="active"><a href="#buy" role="tab" data-toggle="tab">Get Shirt</a></li>
			  				<li ><a href="#types" role="tab" data-toggle="tab">Other Items</a></li>
			  			</ul>-->
						<div class="tab-content">
							<div class="tab-pane" id="types">
			  					<div class="category-pills"></div>
								<div class="image-container"></div>
			  				</div>
			  				<div class="tab-pane active" id="buy">
			  					<div class="product-selection"></div>
			  					<div class="alert">
									<button class="btn btn-block btn-success disabled btn-save"><h2>Get this printed, $20 each.</h2></button>
								</div>
			  				</div>
			  			</div>
					</div>
				</div>
				<div class="footer" style="padding-right: 50px;padding-left:50px">
	  				<div class="row">
	  					<div class="col-md-3">
	  						<dl>
	  							<dt>
	  								<i class="fa fa-heart"></i>
	  								Who We Are
	  							</dt>
	  							<dd>
	  								We are a California shirt printing startup. We care deeply about simplicity, your privacy, and your satisfaction. Please contact us with any questions or special requests.
	  							</dd>
	  						</dl>
	  					</div>
	  					<div class="col-md-3">
	  						<dl>
	  							<dt>
	  								Follow Us
	  							</dt>
	  							<dd>
	  								<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fclickshirtchrome&amp;width&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=253035684884770" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:258px; background-color:white;" allowTransparency="true"></iframe>
	  							</dd>
	  						</dl>
	  					</div>
	  					<div class="col-md-3">
	  						<dl>
	  							<dt>
	  								<i class="fa fa-lock"></i>
	  								Security
	  							</dt>
	  							<dd>
	  								We are secured with modern technology. Our  website is SSL Certified with SHA2 Encryption. Payments are handled by the PICA certified Stripe system. We don't store and never see your payment information.
	  							</dd>
	  						</dl>
	  					</div>
	  					<div class="col-md-3">
	  						<dl>
	  							<dt>
	  								Contact Us
	  							</dt>
	  							<dd>
	  								<i class="fa fa-envelope"></i> xanderjanz@gmail.com<br>
	  								<i class="fa fa-phone"></i> (805)996-0503
	  							</dd>
	  						</dl>
	  					</div>
	  				</div>
	  			</div>
			</div>
		</div>
		<div id="dropDown">
			<h2></h2>
			<select class="form-control">
			</select>
		</div>
		<div id="address">
			<dt><label>Email</label></dt><dd><div class="address address-email"><input type="text" placeholder="Email" class="form-control"></div></dd>
			<dt><label>Shipping Address</label></dt><dd><div class="address address-full"><textarea type="text" class="form-control" placeholder="Full Address" rows="4"></textarea></div></dd>
		</div>
		<div id="address1">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">
						Shipping Address
					</h2>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" role="form">
						<div class="col-md-7">
							<div class="form-group">
							<label>Name</label><div class="address address-name"><input type="text" placeholder="Name"></div>
						</div>
						<div class="form-group">
							<label>Company</label><div class="address address-company"><input type="text" placeholder="Company"></div>
						</div>
						<div class="form-group">
							<label>Email</label><div class="address address-email"><input type="text" placeholder="Email"></div>
						</div>
						<div class="form-group">
							<label>Address 1</label><div class="address address-address1"><input type="text" placeholder="Street Address"></div>
							</div>
						<div class="form-group">
							<label>Address 2</label><div class="address address-address2"><input type="text" placeholder=""></div>
							</div>
						</div>
						<div class="col-md-5">
						<div class="form-group">
							<label>City</label><div class="address address-city"><input type="text" placeholder="City"></div>
							</div>
						<div class="form-group">
							<label>State</label><div class="address address-state"><input type="text" placeholder="State"></div>
							</div>
						<div class="form-group">
							<label>Zip</label><div class="address address-zip"><input type="text" placeholder="Zip"></div>
							</div>
						<div class="form-group">
							<label>Country</label><div class="address address-country"><small>Currently, United States only.</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</html>
		<script data-main="scripts/config" src="vendor/bower/requirejs/require.js"></script>