body {
	min-width:600px;
	font-family: 'Nunito', sans-serif;
}

/*
	top line styles
 */

.page2 {
	background-color: #eee;
	min-height:100%;
	font-family: 'Nunito', sans-serif;
}

.page2 > .nav-pills {
	position: absolute;
	margin: 10 50;
	top: 0;
	right: 0;
}

.top-half {
	position: relative;
	background-color: #fff;
}
.page2 h1 {
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

.page2 h1 img {
	width:1em;
	vertical-align: top;
	margin-right:5px;
}
h2 {
	font-family: 'Nunito', sans-serif;
}
/*.thumbnail {
	margin: 5 10;
	display: inline-block;
	overflow: hidden;
}
.thumbnail img {

}*/
.productModel i {
	cursor: pointer;
}
.productModel .tile {
	height:325;
	margin:30px 0;
}

.productModel .thumbnail {
	min-height:275;
	margin-bottom:0;
}
.productModel .panel-body {
	height:275;
	overflow:scroll;
}
.productModel dl .fa-circle {
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   transition: transform .2s;
}
.productModel dl .fa-circle:hover {
	transform: scale(1.2, 1.2);
}
.productModel img {
	max-height:280px;
}
.nav a {
	margin: 5 5 !important;
	padding: 5 10 !important;
}
.product-selection dd .fa-circle {
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   transition: transform .2s;
}
.product-selection dd {
	margin-bottom: 5px;
}
.product-selection dd .fa-circle:hover {
	transform: scale(.7, .7);
}
.windowfill {
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,.6);
	z-index:99999;
	text-align:center;
}
.windowfill .stuff {
	top: 35%;
	margin:0 auto;
	background-color:rgba(255,255,255,.8);
	position: relative;
	width:450px;
	padding:30px;
}

.footer dd {
	font-size:1.2em;
	color:#aaa;
}
.footer dt {
	font-size: 1.4em;
	color: #999;
	margin: 3 0 8 0;
}
.footer {
	padding-top: 5px;
}

/* Github animation


/* Container box to set the sides relative to */
.cube { 
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */
 
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
}
 
.flippety {
	-webkit-transform: translateZ(160px);
	transform: translateZ(160px);
}
 
.flop {
	-webkit-transform: rotateX(-90deg) translateZ(-160px);
	transform: rotateX(-90deg) translateZ(-160px);
}
 
/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(89deg);
	transform: rotateX(89deg); /* Text bleed at 90º */
} 
.cube:hover .flop {
	opacity: 1;
}
.cube:hover .flippety {
	opacity: 0;
}